<!DOCTYPE html>
<head>
  <meta charset='utf-8'>
  <link href='../main.css' rel='stylesheet' type='text/css'>
</head>
<html>
<body>
<div class="content">
  <h1>Fair Web Services Certification</h1>
  <hr/>
  <div class="draft-note">
    This is a draft. It's work in progress and will change without special notice. Comments are welcome.
  </div>
  <hr/>
  {{content}}
  <hr/>
  <div class="navigation">
    <ul>
      <li><a href=".">Overview</a></li>
      <li><a href="substitutability">Substitutability</a></li>
      <li><a href="transparency">Transparency</a></li>
      <li><a href="privacy">Privacy</a></li>
      <li><a href="security">Security</a></li>
      <li><a href="operation">Operation</a></li>
    </ul>
  </div>
</div>
</body>
</html>
